<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="root">

        <div class="root__header">
            <div class="root__header-item root__header-item_active">TalkMachine</div>
            <div class="root__header-item">FAQ</div>
            <div class="root__header-item">About</div>
        </div>

        <div class="root__content">
            <div class="primary-logo"> 
                <img src="./img/logo_mini.svg" class="primary-logo__img">
                <div class="primary-logo__text">
                    TalkMachine
                </div>
            </div>
            <div class="auth-form form">
                <form>
                    
                    <div class="form-input-group form-input-group_multiline">
                        <input class="form-input-group__input form-input-group__input_multiline" type="email" name="email" placeholder="Email">
                    </div>
                    
                    <div class="form-input-group form-input-group_multiline">
                        <input class="form-input-group__input form-input-group__input_multiline" type="text" name="nickname" placeholder="Nickname">
                    </div>

                    <div class="form-input-group form-input-group_multiline">
                        <input class="form-input-group__input form-input-group__input_multiline form-input-group__input_error" type="password" name="password" placeholder="Password">
                        <p class="form-input-group__error form-input-group__error_multiline text-error">Required Field</p>
                    </div>

                    <div class="form-input-group form-input-group_multiline">
                        <input class="form-input-group__input form-input-group__input_multiline" type="password" name="repeat_password" placeholder="Repeat password">
                    </div>
                                        
                    <div class="form__buttons">
                        <a href="#" class="form__button button button_primary">Register</a>
                        <a href="#" class="form__button button button_passive">Login</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="root__footer">Created by Vitaly Cherkov in 2018</div>

    </div>
</body>

</html>