<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./fonts/iconfont/material-icons.css">
</head>

<body>
    <div class="root">
        
        <section class="room">
            <div class="room__sidebar-header    room__element">

                <div class="tabbar-main">
                    <a class="tabbar-main__tab tabbar-main__tab_active">
                        <i class="material-icons tabbar-main__tab-i">forum</i>
                        Dialogs
                    </a>
                    <a class="tabbar-main__tab">
                        <i class="material-icons tabbar-main__tab-i">group</i>
                        Chats
                    </a>
                    <a class="tabbar-main__tab">
                        <i class="material-icons tabbar-main__tab-i">contacts</i>
                        Contacts
                    </s>
                    <a class="tabbar-main__tab">
                        <i class="material-icons tabbar-main__tab-i">search</i>
                        Search
                    </a>
                    <a class="tabbar-main__tab">
                        <i class="material-icons tabbar-main__tab-i">settings</i>
                        Settings
                    </a>
                </div>

            </div>

            <div class="room__sidebar           room__element">

                <div class="dialog-card dialog-card_active">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                    

                </div>

                <div class="dialog-card">

                        <div class="dialog-card__img">
    
                        </div>
                        <div class="dialog-card__content">
                            <div class="dialog-card__header">
                                <div class="dialog-card__title">Imechko Familiya</div>
                                <div class="dialog-card__meta">
                                    <span class="dialog-card__notification">123</span>
                                    <span class="dialog-card__date-time">20:11</span>
                                </div>
                            </div>
                            <div class="dialog-card__text">
                                kek kek lol lol kek kek lol kek...
                            </div>
                        </div>
                        
    
                </div>

                <div class="dialog-card">

                        <div class="dialog-card__img">
    
                        </div>
                        <div class="dialog-card__content">
                            <div class="dialog-card__header">
                                <div class="dialog-card__title">Imechko Familiya</div>
                                <div class="dialog-card__meta">
                                    <span class="dialog-card__notification">123</span>
                                    <span class="dialog-card__date-time">20:11</span>
                                </div>
                            </div>
                            <div class="dialog-card__text">
                                kek kek lol lol kek kek lol kek...
                            </div>
                        </div>
                        
    
                </div>

                <div class="dialog-card">

                        <div class="dialog-card__img">
    
                        </div>
                        <div class="dialog-card__content">
                            <div class="dialog-card__header">
                                <div class="dialog-card__title">Imechko Familiya</div>
                                <div class="dialog-card__meta">
                                    <span class="dialog-card__notification">123</span>
                                    <span class="dialog-card__date-time">20:11</span>
                                </div>
                            </div>
                            <div class="dialog-card__text">
                                kek kek lol lol kek kek lol kek...
                            </div>
                        </div>
                        
    
                </div>
    
                <div class="dialog-card">

                        <div class="dialog-card__img">
    
                        </div>
                        <div class="dialog-card__content">
                            <div class="dialog-card__header">
                                <div class="dialog-card__title">Imechko Familiya</div>
                                <div class="dialog-card__meta">
                                    <span class="dialog-card__notification">123</span>
                                    <span class="dialog-card__date-time">20:11</span>
                                </div>
                            </div>
                            <div class="dialog-card__text">
                                kek kek lol lol kek kek lol kek...
                            </div>
                        </div>
                        
    
                </div>

                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>

                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>

                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                    
    
                </div>

                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>
    
                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>
    
                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>


                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>
    
                <div class="dialog-card">

                    <div class="dialog-card__img">

                    </div>
                    <div class="dialog-card__content">
                        <div class="dialog-card__header">
                            <div class="dialog-card__title">Imechko Familiya</div>
                            <div class="dialog-card__meta">
                                <span class="dialog-card__notification">123</span>
                                <span class="dialog-card__date-time">20:11</span>
                            </div>
                        </div>
                        <div class="dialog-card__text">
                            kek kek lol lol kek kek lol kek...
                        </div>
                    </div>
                        
    
                </div>

    


            </div>
            <div class="room__content-header    room__element"></div>
            <div class="room__content           room__element">
                <section class="messages-section">
                    <div class="messages-section__container">
                        
                        <div class="messages-section__message-line">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header"></div>
                                <div class="message-card__content">Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>
    
                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header"></div>
                                <div class="message-card__content">Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>
    
                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>

                        <div class="messages-section__message-line messages-section__message-line_my">
                            <div class="message-avatar messages-section__item"></div>
                            <div class="message-card messages-section__item">
                                <div class="message-card__header">
                                    <div class="message-card__title">Imechko Familiya</div>
                                    <div class="message-card__meta">12:54</div>
                                </div>
                                <div class="message-card__content">Text Text Text Text</div>
                            </div>
                        </div>

                    </div>
                    <div class="messages-section__write">
                        <a class="messages-section__button">
                            <i class="material-icons">attach_file</i>
                        </a>
                        <textarea class="messages-section__textarea" placeholder="Write a message..."></textarea>
                        <a class="messages-section__button">
                            <i class="material-icons">send</i>
                        </a>
                    </div>
                </section>
            </div>
        </section>

    </div>
</body>
